<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Catbegin:</strong>
  <%= @category.catBegin %>
</p>

<p>
  <strong>Catend:</strong>
  <%= @category.catEnd %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
