<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Category Begin Number:</strong>
  <%= @category.catBegin %>
</p>

<p>
  <strong>Category End Number:</strong>
  <%= @category.catEnd %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', admin_path %>
